.footer {
  border-top: 2px solid var(--surface-highlight);
  text-align: center;
  padding: 10px 0 60px 0;
  color: var(--smoke-dark);
  font-size: 1.5rem;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 60px;
}

.footer-link {
  text-decoration: none;
  margin-left: 17px;
  margin-right: 17px;
  border-bottom: none;
}
