h1,
h2 {
  font-weight: 600;
  line-height: 1.3;
  margin-top: 0;
  margin-bottom: 0;
}

h1,
.h1 {
  font-size: 1.6rem;
}
h2,
.h2 {
  font-size: 1.4rem;
}

div,
p,
ul,
li,
blockquote {
  font-size: 1.4rem;
}

li {
  margin-bottom: 0.3rem;
}

ol {
  padding-left: 15px;
}

blockquote {
  margin-left: 0;
  padding-left: 1rem;
  opacity: 0.8;
  border-left: 3px solid var(--surface-highlight);
}

@media (min-width: 600px) {
  h1 {
    font-size: 2rem;
  }
  h2 {
    font-size: 1.8rem;
  }
}

@media (min-width: 800px) {
  h1 {
    font-size: 2.1rem;
  }
  h2 {
    font-size: 1.6rem;
  }

  blockquote {
    padding-left: 2rem;
  }

  div,
  p,
  ul,
  li,
  blockquote {
    font-size: 1.6rem;
  }

  ol {
    padding-left: 25px;
  }
}

.uppercase {
  text-transform: uppercase;
}

.post p,
.post ul,
.post ol {
  margin-bottom: 30px;
  margin-top: 10px;
}
.post h1 {
  margin-bottom: 20px;
  margin-top: 40px;
  margin-bottom: 2rem;
  text-align: center;
  font-weight: normal;
}

.post h1:first-of-type {
  font-weight: bold;
}

.post img {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  border-radius: 12px;
}

.post hr {
  border: none;
  border-top: 2px solid var(--surface-highlight);
  width: 40%;
  margin-top: calc(50px + 2vw);
  margin-bottom: calc(50px + 2vw);
}

.post h2 {
  margin-top: 40px;
}

.post h3,
.post h4 {
  font-weight: 700;
  margin-top: 20px;
}

figcaption {
  color: var(--secondary-text);
  font-size: 1.2rem;
  margin-bottom: 2rem;
  margin-top: 1rem;
  position: relative;
  text-align: center;
}

code {
  padding: 2px 4px;
  border: 2px solid var(--surface-highlight);
  border-radius: 4px;
  font-size: 16px;
  font-family: "SF Mono", Menlo, Consolas, Monaco, "Andale Mono", "Ubuntu Mono",
    monospace;
  white-space: nowrap;
}

pre {
  overflow-x: auto;
}

pre code {
  background-color: transparent;
  padding: 0;
  border-radius: none;
  border: none;
}
